<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OriginalName.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6F510B4C1F278E1A00679A19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F510B631F278E1B00679A19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F510B6E1F278E1B00679A19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
